* {
    margin: 0;
    padding: 0;
}

#player {
    display: none;
    background-color: red;
}

#gameCanva {
    border: 1px solid black;
    background-image: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#debug {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
#background {
    display: none;

}
